.sidebar{
    background-color: black;
    width: 20%;
    margin-left: 8px;
}

.register{
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 28.7px;
}

.register:nth-child(even){
    background-color: #13152e;
}

.register_no{
    padding-left: 30px;
    float: left;
}

.register_val{
    float: right;
    padding-right: 30px;
}

.register_name{
    padding-left: 40px;
}